@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Questionare") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <h1>Web Software Technology - Week 9</h1>
    <h2>Survey Questionare(Play Framework)</h2>

    <div id="questionare">
        <h2>Survey Questionare</h2>
        <form action="@routes.HomeController.addPerson()" method="post">
            <label class="form-label" for="name">Name</label>
            <input type="text" id="name" name="name" required="required">
            <label class="form-label" for="age">Age</label>
            <input type="text" id="age" name="age" required="required">

            <label class="form-label">Gender</label>
            <input type="radio" id="male" name="gender" value="male">
            <label class="radio-label" for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female">
            <label class="radio-label" for="female">Female</label>

            <label class="form-label" for="email">Email Address</label>
            <input type="text" id="email" name="email">
            <input type="submit" value="Submit" style="margin-left:0;">
        </form>
    </div>

    <div id="result">
        <h2>Survey Result</h2>
        <form action="@routes.HomeController.deletePersons()" method="post">
            <table id="mytable">
                <tbody>
                    <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Email</th>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Delete Selected" style="margin-left:0;">
        </form>
    </div>


    <script type="text/javascript">
            function populate() {
                var target = document.getElementById("mytable");
                console.log(target);
                var json_data = JSON.parse(HTTPGet("/getPersons"));
                for (index in json_data) {
                    var newrow = target.insertRow(-1);
                    var selected = newrow.insertCell(-1);
                    var name = newrow.insertCell(-1);
                    var age = newrow.insertCell(-1);
                    var gender = newrow.insertCell(-1);
                    var email = newrow.insertCell(-1);
                    selected.innerHTML = '<input type="checkbox" name="select" value="' + json_data[index]["id"]+ '">'
                    name.innerHTML = json_data[index]["name"];
                    age.innerHTML = json_data[index]["age"];
                    gender.innerHTML = json_data[index]["gender"];
                    email.innerHTML = json_data[index]["email"];
                }
            }

            function HTTPGet(url) {
                var HTTPReq = new XMLHttpRequest();
                HTTPReq.open("GET", url, false);
                HTTPReq.send(null);
                return HTTPReq.responseText;
            }

            window.onload = populate;
    </script>
}
